.contact-us-hero {
    display: flex;
    position: relative;
    background-color: lightblue;
    align-self: center;
    left: 10%;
    width: 80%;
    right: 10%;
    height: 60%;
}

.contact-information {
    display: flex;
    width: 50%;
    display: inline-block;
    padding-right: max(3%, 10px);
}

.list-contact-information {
    padding-top: 2%;
    padding-bottom: 2%;
}

.write-a-message {
    position: relative;
    width: 50%;
    background-color: lightcoral;
    display: flex;
}

.messages-writer-stats1 {
    position: absolute;
    background-color: lightgreen;
    padding-bottom: 2%;
    width: 50%;
    height: 35%;
}

input {
    max-width: 100%;
}

.messages-writer-stats1 > p, .messages-writer-stats2 > p {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.messages-writer-stats2 {
    position: absolute;
    left: 50%;
    background-color: lightpink;
    padding-bottom: 2%;
    height: 35%;
    width: 50%;
}

.member-speak-to {
    display: flex;
    position: absolute;
    background-color: lightgray;
    display: block;
    top: 30%; 
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.member-speak-to-column-1 {
    display: flex;
    width: 33.3%;
    background-color: lightgoldenrodyellow;
}

.member-speak-to-column-2 {
    display: flex;
    width: 33.3%;
    background-color: lightsalmon;
}

.member-speak-to-column-3 {
    display: flex;
    width: 33.3%;
    background-color: lightslategray;
}

.contact-options-box {
    display: flex;
    background-color: beige;
}

.on-top-general-manager {
    padding-bottom: 30%;
}

.on-top-general-manager {
    padding-bottom: 30%;
}

.on-top-designer {
    padding-bottom: 30%;
}



