body{
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}


.contact-us-hero {
    display: flex;
    position: relative;
    background: linear-gradient(180deg, #602400 0%, #331300 100%);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    align-self: center;
    width: 75%;
    height: 65%;
    margin-left: 12%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
    margin-bottom: 130px;
}

.contact-information {
    display: flex;
    color: white;
    font-size: 27px;
    font-weight: 500;
    width: 45%;
    display: inline-block;
    padding-right: max(3%, 10px);
    background-color: #602400;
    background: url("../images-foodframe/circle-contact.png") 90% 90% no-repeat, url("../images-foodframe/big-circle-contact.png") 100% 100% no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-information > ul {
    list-style: none;
    padding-left: 7%;
    margin-top: 50px;
    font-size: 14px;
}

.contact-information > p {
   padding-left: 4%;
}

.contact-information2 {
    margin-top: max(40px,5%);
}

.phone-logo {
    background-image: url("../images-foodframe/phone-logo.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 3em;
}

.email-logo {
    background-image: url("../images-foodframe/email-logo.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 3em;
}

.location-logo {
    background-image: url("../images-foodframe/location-logo.png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left: 3em;
}

.list-contact-information {
    padding-top: 2%;
}

.write-a-message {
    position: relative;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    display: flex;
    color: #000;
    font-size: 12px;
    line-height: 20px;
    padding-left: 23px;
    padding-top: 12px;
}


.messages-writer-stats1 {
    position: absolute;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.messages-writer-stats1 > input{
    width: 85%;
    margin-bottom: 15px;
}

.messages-writer-stats1 > p {
    margin: 0%;
}

.messages-writer-stats2 > input{
    width: 85%;
    margin-bottom: 15px;
}

.messages-writer-stats1 > p {
    margin-bottom: 2%;
}

.on-top-details-writer {
    margin-bottom: 20%;
}

.messages-writer-stats1 > p, .messages-writer-stats2 > p {
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 0;
    padding-bottom: 0;
}

.messages-writer-stats2 {
    position: absolute;
    left: 52%;
    width: 50%;
    padding-right: 15px;
    padding-top: 10px;
}

.member-speak-to {
    display: flex;
    position: absolute;
    display: block;
    top: 40%; 
    width: 100%;
    justify-content: center;
    align-items: center;
}

.member-speak-to  > p {
    padding-left: 2%;
}

.member-speak-to-column-1 {
    position: relative;
    display: flex;
    width: 32%;
    padding-bottom: 2%;
}

.greater-ul > li, .selected-circle, .selection-circle{
    cursor: pointer;
}

.member-speak-to-column-2 {
    display: flex;
    position: relative;
    width: 32%;
}

.member-speak-to-column-3 {
    display: flex;
    position: relative;
    width: 32%;
}

.contact-options-box {
    display: flex;
}

.items-bottom {
    position: absolute;
    top: 70%;
}

.where-to-write-your-message {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55%;
    height: 40%;
    width: 100%;
}

.where-to-write-your-message  > p {
    padding-top: 7%;
    padding-bottom: 1%;
    padding-left: 2%;
}

.input-contact {
    width: 90%;
    margin-left: 2%;
    align-self: left;
    border: none;
    border-bottom: 1px solid #602400;
    overflow-y: hidden;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
}

.input-contact::placeholder {
    color: rgba(96, 36, 0, 0.40);
}

.send-message {
    margin-right: 10%;
    margin-top: 5%;
}

.send-message-button {
    float: right;
    top: 75%;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #331300;
    background: #F8B474;
    display: flex;
    width: 135px;
    height: 35px;
    justify-content: center;
    align-items: center;   
    color: #331300;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.selection-circle {
    list-style: none;
    background-image: url("../images-foodframe/selection-circle.png");
    background-repeat: no-repeat;
    background-position: 0% 60%;
    padding-left: 3em;
}

.selected-circle {
    list-style: none;
    background-image: url("../images-foodframe/selected-circle\ \(1\).png");
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.input-boxes {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

h1 > span {
    color: #F29849;
    padding-left: 1%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 72px;
    font-weight: 700;
    line-height: 64px; /* 88.889% */
    padding-left: 2.5%;
}

.food-frame-contact {
    padding-top: 12%;
    color: #602400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px; /* 88.889% */
    margin-bottom: -12px;
}

.questions-concerns {
    color: #331300;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.6px;
    padding-bottom: 1%;
}
