body {
    margin: 0;
    padding: 0;
}

.foodframe-header {
    position: relative;
    color: #602400;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 100;
    line-height: 64px;
    opacity: 100%;
    padding-top: 9%;
    padding-bottom: 2%;
}

h1 > span {
    color: #F29849;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: bold;
    line-height: 64px;
    padding-left: 40px;
}

.hero-photos {
    white-space: nowrap;
}

.styling-photos {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;  
}

.illu-imgs {
    position: relative;
    border-collapse: separate;
    object-fit: cover;
    width: 20%;
    height: 20%;
    flex-shrink: 0;
    border-radius: 8px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.join-now {
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-now-button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    padding: 20px 45px;
    border-radius: 300px;
    border: 1px solid #331300;
    background: #F8B474;
}

.gather-snap-cook-slogan {
    position: relative;
    display: flex;
    justify-content: center;
    color: #602400;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-style: normal;
    margin-bottom: 2%;
}

.gif-add {
    display: flex;
    background: #F8B474;
    color: #602400;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.background-img-hero1 {
    position: relative;
    padding: 4%
}

.background-img-hero1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("https://s3-alpha-sig.figma.com/img/2624/06f7/7492dc608fc7674e38451957bd6f87fb?Expires=1699228800&Signature=V6zIgVnxFTcnKc18umqkoxU-RIQigpDFt7y44XzXStv4wJxfgJO1kvo1r0Pi70R~s8npKzmvFP6g-4DOtJfrPa9apiRGQMY1bZIVomhijzKZIVjs8WNqR8d5etTCPLL0L2G3HAG2OF5H9fWmmZq1MJEW-BAi9fJ2YzQ5D7ddYYLNqw0hPFedS3R-6GrSAVpPpIbihxr4ibk6tCwGJGnklPr18wjtWFlIkZ0-9fc7jIwWuEFo22JXVOT~bJuAvinYcq946Sz0VoSRyc9daUnbUwQy3Y2o3a2UOfXnESfZQr0lerEb8k5C9If6QXauCRM6bP4f0nJP9q1JxRLFBjQWUQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
}
