.navbar-div {
    background-color: #F2884B;
    border: solid;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 8px;
}

.navbar-content {
    background-color: #F2884B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 70%;
    padding-left: max(20x, 1%);
    padding-right: max(20px, 1%);
    border-radius: 8px;
}

.navbar-elements {
    font-weight: bold;
    list-style: none;
    white-space: nowrap;
    font-size: large;
    padding: 4% 2%;
}

.navbar-elements  > a {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black
}


.logo-placeholder {
    padding-left: 2%;
}

.navbar-elements-hover {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    color: white;
    white-space: nowrap;
    font-size: large;
    padding: 1.50% 2% 2% 2%;
    border: solid white;
    background-color: brown;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40%;
    border-radius: 5%;
}

.navbar-elements-hover > a {
   text-decoration: none;
   color: white;
   display: inline-block;
   position: relative;
   padding: 2em;
   margin: -2em;
}

.food-frame-logo {
    position: relative;
    display: flex;
    height: 20%;
    width: 6.5%;
    padding-left: 5%;
}