body{
  -webkit-font-smoothing: antialiased;
}


.navbar-div {
    background-color: #F8B474;
    position: fixed;
    display: flex;
    z-index: 1000; /* Valeur élevée pour être au-dessus du reste du contenu */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.navbar-content {
    display: flex;
    list-style: none;    
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.navbar-elements > a {
    color: #3F1903;
    text-align: center;
    align-items: center;
    font-family: Roboto;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-elements-hover {
    font-family: Roboto;
    list-style: none;
    color: #3F1903;
    font-size: large;
    padding: 0.5% 3% 0.5% 3%;
    border: 1px solid #3F1903;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 3.4px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-elements-hover > a {
    align-items: center;
    text-decoration: none;
    color: #3F1903;
    display: inline-block;
    position: relative;
}

.food-frame-logo {
    align-items: center;
    position: relative;
    display: flex;
    height: 90%;
    padding-left: 2%;
}