
.navbar-div {
    background-color: #F2884B;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 8px;
}

ul {
    background-color: #F2884B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 40%;
    padding-left: max(20x, 1%);
    padding-right: max(20px, 1%);
    border-radius: 8px;
}

li {
    list-style: none;
    white-space: nowrap;
    font-size: large;
    padding-left: 2%;
    padding-right: 2%;
}

h1 {
    padding-left: 2%;
}